.App{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#main{
  margin-top: 110px;
  margin-left: 315px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
    /* height: 100%; */
    /* background: magenta; */
  }
  #main #sideBar{
  }