@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* GENERAL RESET STARTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
html{
  font-size: 62.5%;
  max-width: 1300px;
  margin: 0 auto;
}
body{
  margin: 0 auto;
}
/* GENERAL RESET ENDS */
/* UTITLITIES STARTS */
:root{
  --primary-gray: #1D1B1B;
  --secondary-gray: #E0E0E0;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --primary-white-2: #E0E0E0;
  --primary-color:  #A14807;
  --text-white: #FBFBFB;
  --text-dark:#2C2C2C;
  --text-dark-alt: #686868;
}
/* UTITLITIES ENDS */